/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#banner_header {
	-fx-background-image: url("../../images/banner.jpg"); 
	-fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#btn_payment,
#btn_login,
#btn_register {
	-fx-background-color: #006341;
	-fx-background-radius: 10px;
	-fx-cursor: hand;
}

.col_bg {
	-fx-background-color: #006341;
	-fx-text-fill: white;
}

.chart-series-line {
	-fx-stroke: #006341;
}